body {
    background-color: #C8D6C5;
    color: #4a7ea1;
}

#sample {
    color: blue;
    display: flex;
    flex-direction: column;
}   


#sample input, button {
    height: auto;
    width: fit-content;
}

.error {
    color: #f44336;
    background-color: #fdecea;
    border: 1px solid #f44336;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
}

.success {
    color: #4CAF50;
    background-color: #e7f6e7;
    border: 1px solid #4CAF50;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
}
