body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #C8D6C5;
    color: #4a7ea1;
}


.link1 {
    cursor: pointer;
    margin-right: 10%;
}

.link2 {
    cursor: pointer;
}

.Logo {
    width: 15%;
    height: auto;
    margin-left: 43%;
    border-radius: 100%;
}
