body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-box {
    width: 30%;
    padding: 10px;
}

.chart-container {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.chart-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}
.summary {
    background-color: #e6f2ff;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #cce0ff;
    border-radius: 5px;
}

.filter-container {
    margin: 20px 0;
}

.actions {
    margin: 20px 0;
}

.alert {
    background-color: #ffcccc;
    padding: 10px;
    border: 1px solid #ff9999;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p{
    margin-bottom: 5%; font-size: xx-large;
}
footer a {
    text-decoration: none;
}
.top-nav {
    background-color: #2c3e50;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.top-nav a:hover {
    background-color: #34495e;
}

.top-nav a.active {
    background-color: #e74c3c;
}

.top-nav-right {
    float: right;
}

@media screen and (max-width: 600px) {
    .top-nav a, .top-nav-right {
        float: none;
        display: block;
        text-align: left;
    }
}
