<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
</head>
<body>
    <form action="/RecoverPass" method="post">
        <label for="username">Please enter your username</label>
        <input type="text" name="username" id="username">
        <button type="submit">Recover password</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    
    <a href="/StudentsLogin">Back to log in</a>
    <a href="Inputs">Create account</a>
</body>
</html>