<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ForStudentLogin.css">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>

    

    <form id="sample" action="/StudentsLogin" method="post">
        <label for="LoginUsername">Username or Lastname</label><br>
        <input type="text" name="LoginUsername" id="LoginUsername"><br>
        
        <label for="LoginPassword">Password</label><br>
        <input name="LoginPassword" type="password" id="LoginPassword">

        <button type="submit">Log in</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    


    <script src="/static/javascript/ForStudentLogin.js"></script>
</body>
</html>