<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ForTeachersLogin.css">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <form action="/TeacherLogin" method="post">
        <label for="LoginUsername">Username or Lastname</label>
        <input type="text" name="LoginUsername" id="LoginUsername">
        
        <label for="LoginPassword">Password</label>
        <input name="LoginPassword" type="password" id="LoginPassword">

        <button type="submit">Log in</button>
    </form>
    


    <script src="/static/javascript/ForTeacherLogin.js"></script>
</body>
</html>