<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Home.css">
    <title>Home</title>
</head>
<body> 
    <div class="container">
        <header class="header">
            <img class="logo" src="/static/img/Logo.png" alt="Logo">
            <h1 id="LogoName">PHINMA EDUCATION <br><sub>Making lives better through education</sub></h1>
        </header>
        <main>
            <h2 class="AcademicSample">Academic Information Management System</h2>
            <div class="options">
                <form action="/Registration_links" method="post">
                    <button class="link link-main" type="submit" name="link" value="Main">Go to main website</button>
                    <button class="link link-teacher" type="submit" name="link" value="Teacher">Teacher</button>
                    <button class="link link-student" type="submit" name="link" value="Student">Student</button>


                </form>
            </div>
        </main>
    </div>

    <script src="/static/javascript/Home.js"></script>
</body>
</html>
