<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Student_Home_Page.css">
    <link rel="stylesheet" href="/static/css/Student_Progress.css">
    <script src="/static/javascript/plotly-2.35.2.min.js"></script> 
    <title>Student | Progress</title>
</head>
<body>
    <header class="top-nav">
        <div class="nav-container">
            <a id="Dashboard" href="/Student_Home">Dashboard</a>
            <a id="Progress" href="/Student_Progress">Progress</a>
            <a id="Grades" href="/Student_Grades">Grades</a>
            <a id="Schedule" href="/Student_Schedule">Schedule</a>
            <a id="Account" href="/View_Student_Infos ">Account</a>
            <a href="/Student_Settings">Settings</a>
        </div>
    </header>
    <br><br><br><br>
    
    <h1>First Semester Progress Overview</h1>

    <div class="charts-container">
        
        <div class="chart-box">
            <h2>Grades Distribution - Pie Chart</h2>
            <div id="firstPieChart"></div> 
        </div>

        
        <div class="chart-box">
            <h2>Average Grades - Bar Chart</h2>
            <div id="firstBarChart"></div> 
        </div>

        
        <div class="chart-box">
            <h2>Grade Trends - Line Chart</h2>
            <div id="firstLineChart"></div> 
        </div>
    </div>

    <br><br><br><br><br>
    <h1>Second Semester Progress Overview</h1>

    <div class="charts-container">
        
        <div class="chart-box">
            <h2>Grades Distribution - Pie Chart</h2>
            <div id="secondPieChart"></div> 
        </div>

        
        <div class="chart-box">
            <h2>Average Grades - Bar Chart</h2>
            <div id="secondBarChart"></div> 
        </div>

        
        <div class="chart-box">
            <h2>Grade Trends - Line Chart</h2>
            <div id="secondLineChart"></div> 
        </div>
    </div>

    <script src="/static/javascript/Student_Home_Page.js"></script>
    <script src="/static/javascript/Student_Progress.js"></script>
</body>
</html>
