<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Student_Schedule.css">
    <link rel="stylesheet" href="/static/css/Student_Home_Page.css">
    <title>Schedule</title>
</head>
<body>
    <header class="top-nav">
        <div class="nav-container">
            <a id="Dashboard" href="/Student_Home">Dashboard</a>
            <a id="Progress" href="/Student_Progress">Progress</a>
            <a id="Grades" href="/Student_Grades">Grades</a>
            <a id="Schedule" href="/Student_Schedule">Schedule</a>
            <a id="Account" href="Student_Account">Account</a>
            <a href="/Student_Settings">Settings</a>
        </div>
    </header>

    <script src="/static/javascript/Student_Home_Page.js"></script>
    <script src="/static/javascript/Student_Schedule.js"></script>
</body>
</html>