<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Student_Home_Page.css">
    <link rel="stylesheet" href="/static/css/Student_Schedule.css">
    <title>Student Schedule</title>
</head>
<body>

    <header class="top-nav">
        <div class="nav-container">
            <a id="Dashboard" href="/Student_Home">Dashboard</a>
            <a id="Progress" href="/Student_Progress">Progress</a>
            <a id="Grades" href="/Student_Grades">Grades</a>
            <a id="Schedule" href="/Student_Schedule">Schedule</a>
            <a id="Account" href="/View_Student_Infos">Account</a>
            <a href="/FreeCourse" target="_blank">More Courses</a>&nbsp;
        </div>
    </header>

    <h1>Student Weekly Schedule</h1>

    <h2>Your Weekly Schedule</h2>
    <table>
        <thead>
            <tr>
                <th>Subject Code</th>
                <th>Subject Name</th>
                <th>Day of Week</th>
                <th>Time Slot</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for class in weekly_schedule %}
                <tr>
                    <td>{{ class.subject_code }}</td>
                    <td>{{ class.subject_name }}</td>
                    <td>{{ class.day_of_week }}</td>
                    <td>{{ class.time_slot }}</td>
                    <td>{{ class.location }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="/static/javascript/Student_Schedule.js"></script>
    <script src="/static/javascript/Student_Home_Page.js"></script>
</body>
</html>
