<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Teachers.css">
    <title>Teacher Portal</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Teacher Portal!</h1>
        <p id="welcome-message" class="intro"></p>
        <div class="login-signup">
            <a href="/Register" class="btn">Register</a>
            <a href="/Login" class="btn">Log In</a>
        </div>
    </div>
    <script src="/static/javascript/Teachers.js"></script>
</body>
</html>
