<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Teacher_Gradebook.css">
    <title>Gradebook</title>
</head>
<body>
    <header class="top-nav">
        <a href="/Teacher_Home_Page" class="active">Dashboard</a>
        <a href="/Teacher_Classes" class="active2">Classes</a>
        <a href="/Teacher_Gradebook" class="active3">Gradebook</a>
        <a href="/Teacher_Schedule">Schedule</a>
        <a href="/Teacher_Messages">Messages</a>
        <a href="/Teacher_Resources">Resources</a>

        <div class="top-nav-right">
            <a href="/Teacher_Settings">Settings</a>
            <a href="/logout">Logout</a>
        </div>
    </header>

    <table style="border: 1px solid black;">
        <tr>
            <td>Name</td><hr>
            <td>Prelim</td>
            <td>Midterm</td>
            <td>Finals</td>
        </tr>

        <tr>
            <td>Selwyn Jayme</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
        </tr>
    </table>
</body>
</html>