<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Teacher_Resources.css">
    <title>Resources</title>
</head>
<body>
    <header class="top-nav"> 
        <a class="active" href="/Teacher_Home_Page" class="active">Dashboard</a>
        <a class="active2" href="/Teacher_Classes">Classes</a>
        <a class="active3" href="/Teacher_Gradebook">Gradebook</a>
        <a class="active4" href="/Teacher_Schedule">Schedule</a>
        <a class="active5" href="/Teacher_Messages">Messages</a>
        <a class="active6" href="/Teacher_Resources">Resources</a>

        <div class="top-nav-right">
            <a class="active7" href="/Teacher_Settings">Settings</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
    Resources section 
</body>
</html>