<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/Teacher_Home_Page.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's Dashboard</title>
</head>

<body>
    <header class="top-nav">
        <a href="/Teacher_Home_Page" class="active">Dashboard</a>
        <a href="/Teacher_Classes" class="active2">Students</a>
        <a href="/Teacher_Resources" class="active6">Resources</a>
        <div class="top-nav-right">
            <a href="/Teacher_Settings" class="active7">Settings</a>
            <a href="/logout">Logout</a>
        </div>
    </header>

    <div class="summary">
        <h2>Class Performance Summary</h2>
        <p><strong>Average Class Score:</strong> {{ avg_clss_scr }}</p>
        <p><strong>Best-Performing Student:</strong> {{ name_first_sem[0][0] }} {{ name_first_sem[0][1] }}</p>
        <p id="lowest-performing-objective"><strong>Lowest-Performing Learning Objective:</strong></p>
    </div>    

    <div id="data-holder" 
        data-mastery="{{ Mastery_Prelim }}" 
        data-approaching="{{ Approaching }}" 
        data-needshelp="{{ Needs_help }}" 
        data-failing="{{ Failing }}" 
        data-total-math="{{ total_math_confidence }}"
        data-total-reading="{{ total_reading_confidence }}"
        data-total-writing="{{ total_writing_confidence }}"
        data-total-critical-thinking="{{ total_critical_thinking_confidence }}">
    </div>



    <div class="alert">
        {% if Failing == 1 %}
        <p><strong>Alert:</strong> {{ Failing }} student are at risk of failing the next assessment.</p>
        {% else %}
        <p><strong>Alert:</strong> {{ Failing }} students are at risk of failing the next assessment.</p>
        {% endif %}
    </div>

    <div id="charts-container">
        <div class="chart-box">
            <div class="chart-container">
                <div class="chart-title">Breakdown of Class Mastery</div>
                <div id="pie-chart"></div>
            </div>
        </div>

        <div class="chart-box">
            <div class="chart-container">
                <div class="chart-title">Class Performance Survey Result</div>
                <div id="bar-chart"></div>
            </div>
        </div>

        <div class="chart-box">
            <div class="chart-container">
                <div class="chart-title">Class Mastery Over Time</div>
                <div id="line-chart"></div>
            </div>
        </div>
    </div>

    <footer>
        <p><b><a href="/Teacher_Resources">Browse Resources</a></b></p>
    </footer>

    <script src="/static/javascript/plotly-2.35.2.min.js"></script>
    <script src="/static/javascript/Teacher_Home_Page.js"></script>
</body>
</html>
