<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Teacher_Settings.css">
    <title>Settings</title>
</head>
<body>
    <header class="top-nav">
        <a href="/Teacher_Home_Page" class="active">Dashboard</a>
        <a href="/Teacher_Classes" class="active2">Students</a>
        <a href="/Teacher_Resources" class="active6">Resources</a>

        <div class="top-nav-right">
            <a href="/Teacher_Settings" class="active7">Settings</a>
            <a href="/logout">Logout</a>
        </div>
    </header>

    <form action="/Teacher_Settings" method="post">
        <div class="settings-container">
            <div class="settings-section">
                <h3>Personal Information</h3>
                {% if cellphone_number %}
                    <h3>{{ firstname }} {{ lastname }}</h3>
                    <h3>{{ cellphone_number }}</h3>
                {% endif %}
                <p>Update your name, email, and contact information here.</p>
                <input type="text" placeholder="Firstname" name="Firstname" value="">
                <input type="text" placeholder="Lastname" name="Lastname" value="">
                <input type="tel" placeholder="Phone Number" name="phone" value="">
                <button type="submit">Save Changes</button>
            </div>
    
            <div class="settings-section">
                <h3>Account Settings</h3>
                <p>Change your password or manage your login credentials.</p>
                <input type="password" placeholder="Current Password" name="current_password">
                <input type="password" placeholder="New Password" name="new_password">
                <input type="password" placeholder="Confirm New Password" name="confirm_password">
                <button type="submit">Update Password</button>
            </div>
        </div>
    </form>
    

    <script src="/static/javascript/Teacher_Settings.js"></script>
</body>
</html>
