<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Teacher_Home_Page.css">

    <title>Teacher's Dashboard</title>
   
</head>
<body>

    <header class="top-nav">
        <a href="/Teacher_Home_Page" class="active">Dashboard</a>
        <a href="/Teacher_Classes" class="active2">Students</a>
        <a href="/Teacher_Resources" class="active6">Resources</a>

        <div class="top-nav-right">
            <a href="/Teacher_Settings" class="active7">Settings</a>
            <a href="/logout">Logout</a>
        </div>
    </header>

    
    

</body>
</html>
