<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Teacher_Resources.css">
    <title>Resources</title>
</head>
<body>
    <header class="top-nav">
        <a class="active" href="/Teacher_Home_Page">Dashboard</a>
        <a class="active2" href="/Teacher_Classes">Students</a>
        <a class="active6" href="/Teacher_Resources">Resources</a>

        <div class="top-nav-right">
            <a class="active7" href="/Teacher_Settings">Settings</a>
            <a href="/logout">Logout</a>
        </div>
    </header>

    <div class="search-container">
        <input type="text" placeholder="Search resources..." id="search-bar">
        <button onclick="searchResources()">Search</button>
    </div>


    <div class="resource-categories">
        <h2>Resource Categories</h2>
        <ul>
            <li><a href="/Teacher_Resources/lesson_plans">Lesson Plans</a></li>
            <li><a href="/Teacher_Resources/Worksheets">Worksheets</a></li>
            <li><a href="/Teacher_Resources/Quizzes">Quizzes</a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">External Links</a></li>
        </ul>

        {% if s %}
        <center><h1>{{ selected }}</h1></center>
        <ul class="resource-list">
            <li>
                <a href="/Teacher_Resources/{{ category }}/{{ s }}">{{ s }}</a>
            </li>
            {% if s2 %}
            <li>
                <a href="/Teacher_Resources/{{ category }}/{{ s2 }}">{{ s2 }}</a>
            </li>
            {% endif %}
        </ul>
    {% endif %}
    
    {% if cat2 %}
        <div class="resource-item">
            <a href="/static/Teacher_Resources/{{ category }}/{{cat2}}.pdf" target="_blank" class="resource-link">
                {{ cat2 }}
            </a>
            <div class="resource-images">
                <a href="/static/Teacher_Resources/{{ category }}/{{cat2}}.pdf" target="_blank">
                    <img src="/static/img/{{cat2}}.jpg" alt="{{ cat2 }} image" onerror="this.onerror=null; this.src='/static/img/{{cat2}}.png';">
                </a>
            </div>
        </div>
    {% endif %}

    <div class="featured-resources">
        <h2>Featured Resources</h2>
        <div class="resource-item">
            <h3>Advanced Data Analysis</h3>
            <p>An engaging set of data science lessons for IT students, complete with interactive activities.</p>
            <a href="/Teacher_Resources/Math_Lessons">View Resource</a>
        </div>
        <div class="resource-item">
            <h3>Comprehensive Deeplearning Worksheets</h3>
            <p>A collection of printable worksheets that cover various deeplearning concepts and exercises.</p>
            <a href="/Teacher_Resources/ComputerVision">View Resource</a>
        </div>
    </div>
    <!--
    <div class="upload-section">
        {% if uploaded_resources %}
        <h2>Uploaded Resources</h2>
            <ul>
                {% for i in uploaded_resources %}
                <button name="{{i[1]}}" type="submit" value="{{i[1]}}">{{i[1]}}</button>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="/upload_resource" method="post" enctype="multipart/form-data">
            <h2>Upload Your Own Resources</h2>
            <input type="file" name="resource_file" id="resource_file" required accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps, video/mp4">
            <input type="text" name="resource_title" placeholder="Resource Title" required>
            <textarea name="resource_description" placeholder="Resource Description" required></textarea>
            <button name="upload" value="upload" type="submit">Upload Resource</button>
        </form>
        {% if resource_file and resource_title and resource_description %}
            <h1>{{ resource_title }}</h1>
            <p>{{ resource_description }}</p>
            <h3>{{ resource_file }}</h3>
        {% endif %}
    </div> -->
    <script src="/static/javascript/Teacher_Resources.js"></script>
</body>
</html>
