<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/update.css">
    <title>Teacher | Update password</title>
</head>
<body>
    <form action="/updatepass" method="POST">
        <input type="password" name="updatepassword1" placeholder="Update password">
        <input type="password" name="updatepassword2" placeholder="confirm password">

        <input type="submit" value="submit">
    </form>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
                <a href="/logout">Log in</a>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
</body>
</html>